<!DOCTYPE html>
<html>
  <head>
    <title>Ventas</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <ul>
        <li>
          <%= link_to "Inicio", root_path %>
          </li>
          <li>
          <%= link_to "Terminos y condiciones", terms_path %>
          </li>
          <li>
          <%= link_to "Politicas de Privacidad", privacy_path %>
          </li>
           <li>
          <%= link_to "Contacto", contacts_path %>
          </li>
        </ul>
    </nav>
    <%= yield %>
  </body>
</html>
